.heading {
    font-size: 24px;
    text-align: center;
}

.aboutme {
    background-color: #333;
    .centerpls {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

        .social {
            padding: 15px;
        }
    }
}
