<div class="aboutme">
    <app-paragraph-heading title="About me" class="heading"></app-paragraph-heading>
    <app-paragraph
        text="I'm a software developer and a student of the Vegova Ljubljana gymnasium, 2nd grade. I have been programming since I was 12 years old.">
    </app-paragraph>
    <div class="centerpls">
        <app-card title="Lovro Govekar" subtitle="Student" imgUrl="https://avatars.githubusercontent.com/u/73135477?v=4"
            content="Student of the Vegova Ljubljana gymnasium, 2nd grade, and programmer in my free time."
            url="https://www.perchperkins.ml/"
            bgUrl="https://i.imgur.com/w5tX1Pn.jpg">
        </app-card>
        <div class="social">
            <app-social-logo url="https://twitter.com/LovroG05" img="/assets/twitter.svg"></app-social-logo>
            <app-social-logo url="https://github.com/LovroG05" img="/assets/github.png"></app-social-logo>
            <app-social-logo url="https://www.instagram.com/lovro1st/" img="/assets/instagram.svg"></app-social-logo>
            <app-social-logo url="https://www.reddit.com/user/Lovro1st" img="/assets/reddit.svg"></app-social-logo>
            <app-social-logo url="https://gitlab.com/LovroG05" img="/assets/gitlab.svg"></app-social-logo>
            <app-social-logo url="https://www.linkedin.com/in/lovro-govekar-531939232/" img="/assets/linkedin.svg"></app-social-logo>
        </div>
    </div>
</div>